/.vs/TestTargemGames/v17/.suo
/.vs/TestTargemGames/v17/Browse.VC.db
/.vs/TestTargemGames/v17/ipch/AutoPCH/ccfd9a6f7d175d59/TESTTARGEMGAMES.ipch
/.vs/TestTargemGames/v17/ipch/AutoPCH/eefe68ae61aee52b/STRING.ipch
